
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")
<br />
Already Have An Account @Html.ActionLink("LogIn Here!", "LogIn", "Account")

